extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/heroes.css')
	title=title + 'VGwhole - Vainglory Stats'
block append header-primary
	div(class='header-content-title')
		h1 Heroes
block content
	div(class='content-inner')
		section
			header All Heroes
			footer(style='padding: 0')
				div(class='hero-grid')
					each val in hero_list
						a(href=val.url)
							div(class='hero', style='background: url(' + val.img + ')')
								div(class='name') #{val.modifiedName}
								div(class='mask')
								div(class='notes')
