extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/home.css')
block append content
	section
		article
			div(class='logo-container')
				img(class='main-logo' src='/images/asdf.svg.png')
			div(class='search-container')
				div(class='home-search')
					form(action='/search', accept-charset='UTF-8', method='get')
						input(id='q', type='text', placehold='Search...', class='search')
						button(type='submit') search

