article {
	padding: 4px;
	padding-top: 40px;
	max-width: 100%;
	margin: auto;
}

.main-logo {
	display: block;
	margin: auto;
	object-fit: cover;
	width: 60%;
}

.home-search {
	background: #3B3E47;
	width: 80%;
	margin: auto;
	padding: 8px 12px 8px 8px;
	border: 3px solid #2A2D36;
}

.home-search form {
	text-align: center;
}

.search {
	color: #c4c4c4;
	background: #2A2D36;
	width: 80%;
	height: 26px;
	border: none;
	border-radius: 0px;
	outline: none;
	padding-left: 4px;
	margin-right: 4px;
}

button {
	display: inline-block;
	background: #3B3E47;
	border: 3px solid #2A2D36;
	color: #C4C4C4;
	text-transform: uppercase;
	font-size: 12px;
	padding: 1px 8px 1px 8px;
	height: 26px;
	line-height: 19px;
}

.header-content-container {
	display: none;
}
