a {
	text-decoration: none;
	color: #A9CF54;
}

.conter-inner {
	margin: auto;
	position: relative;
	max-width: 972px;
	background-color: #1C242D;
	padding: 6px 0;
	border: 0
}

.header-content-container {
	border-radius: 1px;
	margin: 13px 0 13px 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

.header-content {
	padding: 8px;
	background: #2E3740
}

.header-content-title h1 {
	color: white;
	font-size: 24px;
}

.header-contnet-title small {
	display: block;
	font-size: 12px;
	color: #C4C4C4;
}

table.sortable {
	width: 100%;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
}

table.sortable > thead {
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

table.sortable > tbody {
	color: #d9d9d9;
}

table.sortable > tbody > tr {
	background: rgba(255,255,255,0.04);
}

table.sortable > tbody > tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

.item-icon {
	height: 36px;
	margin-right: 8px;
}

.cell-icon {
	width: 40px;
}	

.r-none-mobile {
	display: inline-block;
	padding: 4px;
	width: 50%;
}
