a {
	text-decoration: none;
	color: #E0962D;
}

.row {
	padding: 10px;
}

table.sortable {
	width: 100%;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
}

table.sortable > thead {
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

table.sortable > tbody {
	color: #d9d9d9;
}

table.sortable > tbody > tr {
	background: rgba(255,255,255,0.04);
}

table.sortable > tbody > tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

.item-icon {
	height: 28px;
	margin-right: 8px;
}

.cell-icon {
	width: 40px;
}	

.r-none-mobile {
	display: inline-block;
	padding: 4px;
	width: 50%;
}
