a {
	text-decoration: none;
	color: #E0962D;
}

.row {
	padding: 10px;
}

section > article {
	color: #c4c4c4;
	background: #3B3E47;
	padding: 8px;
}

dt {
	color: white;
}

header {
	font-size: 16px;
	color: white;
	position: relative;
	padding: 6px 4px;
	text-transform: uppercase;
	font-weight: normal;
}

.chart.section-container {
	margin-bottom: 20px;
}

.match-result {
	text-align: center;
	font-size: 12px;
}

.red-victor {
	color: #e84017;
}

.blue-victor {
	color: #20c2ea;
}

.match-victory-subtitle {
	font-size: 24px;
}

.blue-score {
	color: #20c2ea;
	margin-right: 10px;
}

.duration {
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	color: rgba(255,255,255,0.6);
}

.red-score {
	color: #e84017;
	margin-left: 10px;
}

.team-header {
	margin: 8px 0 0 0;
	font-size: 16px;
}

.team-header.blue {
	color: #20c2ea;
}

.team-header.red {
	color: #e84017;
}

.r-tabbed-table {
	padding: 4px;
	color: white;
	width: 100%;
}

.match-team-table {
	width: 100%;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	border-spacing: 3px 5px;
}

.match-team-table > tbody > tr {
	background: rgba(255,255,255,0.04);
}

.match-team-table > tbody > tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

thead {
	font-weight: bold;
}

.hints {
	font-size: 12px;
}

.col-hints > th {
	padding: 4px 3px 4px 0;
}

table.fixed td {
	padding: 4px 3px 4px 0;
}

.tf-hero {
	width: 55px;
} 

.tf-25 {
	width: 20px;
}

.tf-50 {
	width: 60px;
}

.tf-30 {
	width: 45px;
	text-align: center;
}

.tf-45 {
	width: 45px;
	text-align: center;
}

.tf-35 {
	width: 40px;
}

.mine-captures {
	text-align: center;
}

.turret-captures {
	text-align: center;
}

.color-stat-gold {
	color: #FBB829 !important;
}

.hero-icon {
	object-fit: cover;
	object-position: 100% 30%;
	height: 24px;
	width: 48px;
}

.match-item {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 1px;
	vertical-align: top;
}

.image-item {
	height: 28px;
}

.tf-items {
	text-align: center;
}

.tf-items-cell {
	text-align: center;
}

.r-tab-buttons {
	display: table-row !important;
	overflow: hidden;
	background-color: transparent
}

.r-tab-button {
	border: 0;
	height: 30px;
	cursor: pointer;
	background-color: #343740;
	color: #aaa;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}

.r-tab-button.active {
	color: #fff;
	background-color: #3B3E47;
}

@media only screen and (min-width: 768px) {
	.tf-hero {
		width: 50px;
	}

	.tf-pl {
		width: 300px;
	}

	.tf-25 {
		width: 20px;
		padding: 4px 3px 4px 0;
	}

	.tf-50 {
		width: 60px;
	}

	.tf-35 {
		width: 30px;
	}

	.tf-30 {
		width: 55px;
		text-align: center;
	}

	.tf-45 {
		width: 45px;
		text-align: center;
	}

	.r-tab-button {
		display: none;
	}
}
