a {
	text-decoration: none;
	color: #E0962D;
}

.row {
	padding: 10px;
}

.header-content-container {
	margin-bottom: 0px;
}

.header-content-title {
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.header-content-medal {
	display: inline-block;
	vertical-align: top;
}

.medal-icon {
	width: 52px;
}


.header-content-nav-container {
	height: 31px;
	margin-bottom: 12px;
}

.header-content-nav {
	height: 100%;
	position: relative;
	font-size: 14px;
}

.header-nav-links {
	height: 100%;
	font-size: 13px;
	background: #31343d;
}

.header-nav-links ul {
	padding-top: 8px;
	padding-left: 0;
	list-style: none;
}

.header-nav-links li {
	display: inline-block;
}

.header-nav-links ul > .active > a {
	color: white;
	border-bottom: 2px solid #C4C4C4;
}

.header-nav-links ul > li > a {
	border-bottom: 2px solid transparent;
	color: #C4C4C4;
	padding: 8px 8px;
}

.wins {
	color: #A9CF54;
}

.losses {
	color: #C23C2A;
}

header {
	font-size: 16px;
	color: white;
	position: relative;
	padding: 6px 4px;
	text-transform: uppercase;
	font-weight: normal;

}

header > small {
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	margin-left: 4px;
	text-shadow: none;
}

section > article {
	color: #c4c4c4;
	background: #3B3E47;
	padding: 8px;
	margin-bottom: 20px;
}

.role-distribution article {
	background: none;
}

.table-content {
	color: white;
	padding-top: 0; 
	font-size: 12px;
	position: relative;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0
}

.table-content tbody {
	color: #d9d9d9;
}

.table-content > tbody > tr {
	background: rgba(255,255,255,0.04);
}

.table-content > tbody > tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

.hero-icon {
	width: 50px;
}

.image-container {
	margin-right: 7px;
	margin-top: 4px;
	display: inline-block;
	position: relative;
}

.image-icon {
	object-fit: cover;
	object-position: 100% 30%;
	height: 24px;
	width: 48px;
}

.image-container span {
	margin-left: 6px;
	position: absolute;
	top: 5px;
}

@media only screen and (min-width: 768px) {
	.header-content-secondary {
		display: inline-block;
		position: absolute;
		top: 8px;
		right: 8px;
		margin-top: 0px
	}
}
