a {
	text-decoration: none;
	color: #E0962D;
}

.header-content-container {
	border-radius: 1px;
	margin: 13px 0 13px 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

table.sortable {
	width: 100%;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
}

table.sortable > thead {
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

table.sortable > tbody > tr {
	background: rgba(255,255,255,0.04);
}

table.sortable > tbody > tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

.r-none-mobile {
	display: inline-block;
	padding: 4px;
	width: 50%;
}

.medal {
	width: 32px;
}

.medal-icon {
	height: 30px;
}

.progress {
	height: 5px;
	background-color: #00000000;
}

.progress-bar {
	background-color: #E0962D;
}
