a {
	text-decoration: none;
}

.header-content-primary {
	display: inline-block;
}

.header-content-secondary {
	display: block;
}

.header-content-secondary dl {
	display: inline-block;
	margin: 5px 12px 14px 0;
	vertical-align: top;
	color: white;
	font-size: 14px;
}

.header-content-secondary dt {
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	margin-top: 4px;
	text-transform: uppercase;
}

.header-content-nav-container {
	height: 31px;
}

.header-content-nav {
	height: 100%;
	background: #2E3740;
	position: relative;
	font-size: 14px;
}

.header-nav-links {
	height: 100%;
	font-size: 13px;
	background: #2a323a;
}

.header-nav-links ul {
	padding-top: 8px;
	padding-left: 0;
	list-style: none;
}

.header-nav-links li {
	display: inline-block;
}

.header-nav-links ul > .active > a {
	background: #252d34;
	color: white;
	border-bottom: 2px solid #ED3B1C;
}

.header-nav-links ul > li > a {
	border-bottom: 2px solid transparent;
	color: #C4C4C4;
	padding: 8px 8px;
}

.wins {
	color: #A9CF54;
}

.losses {
	color: #C23C2A;
}

header {
	font-size: 16px;
	color: white;
	position: relative;
	padding: 6px 4px;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
	font-weight: normal;
}

header > small {
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	margin-left: 4px;
	text-shadow: none;
}

section > article {
	box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
	border: 1px solid #242F39;
	border-radius: 1px;
	background: #242F39;
	padding: 4px;
}

table {
	width: 100%;
	font-size: 12px;
	color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
	font-weight: bold;
	padding: 6px 4px;
}

tbody {
	color: #d9d9d9;
}

tr {
	background: rgba(255,255,255,0.04);
}

tr:nth-child(2n) {
	background: rgba(255,255,255,0.02);
}

.cell-icon {
	width: 30px;
}

.hero-icon {
	object-fit: cover;
	object-position: 100% 30%;
	height: 24px;
	width: 48px;
}

.hero-name a {
	color: #A9CF54;
}
@media only screen and (min-width: 768px) {
	.header-content-secondary {
		display: inline-block;
		position: absolute;
		top: 8px;
		right: 8px;
		margin-top: 0px;
	}
}
