* {
	box-sizing: border-box;	
	margin: 0;	
}

.outer-container {
	background-color: #1C242D;
	font-size: 0px;	
}

.content-inner {
	min-height: 400px;
}

[class*="col-"] {
	width: 100%;
	display: inline-block;
	font-size: 24px;
	vertical-align: top;
}

.container-inner {
	font-size: 16px;
	margin: auto;
	position: relative;
	max-width: 972px;
	background-color: #1C242D;
	padding: 0;
	border: 0;
	
}

.content-container {
	margin-top: 16px;
}
.navbar-secondary {
	display: none;
}

.navbar-secondary.active {
	display: block;
	background: #2E3740;
}

.header-nav-links.toggled {
	display: block;
	background: #2E3740;
	position: fixed;
	left: 120px;
	bottom: 0px;
	right: 0px;
	z-index: 10002;
	font-size: 14px;
	margin-top: 51px;
	height: 100%;
	top: 0;
	line-height: 19px;
}

.header-nav-links.toggled ul {
	padding: 0;
}

.header-nav-links.toggled li {
	display: block;
	padding: 5px 14px;
}

.header-nav-links.toggled a {
	color: white;
	text-decoration: none;
}

.navbar-primary {
	background-color: #242F39;
	font-size: 16px;
	line-height: 10px;
	width: 100%;	
}

.navbar-primary li {
	float: right;
}

.navbar-primary li > a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none
}

.navbar-primary li a:hover {
	background-color: #2E3740;
}

.header-nav-right > ul {
	position: absolute;
	top: 0px;
	right: 0px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #242F39;
	z-index: 10001;
	font-size: 14px;
}

.header {
	position: relative;
	display: inline-block;
	padding: 14px 16px;
	overflow: hidden;
	background-color: #242F39;
	text-align: center;
	z-index: 20000;
}

.header > a {
	text-decoration: none;
	color: white;
}

.header .icon {
	font-size: 12px;
}

.header-nav-left {
	display: none;
}

.header-nav-left-responsive {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-top: 51px;
	background-color: #242F39;

}

.header-nav-left-responsive ul {
	list-style: none;
	padding: 0;
}

.header-nav-left-responsive li {
	display: block;
	width: 100%;
}

.header-nav-left-responsive li a {
	text-align: left;
}

#myTopNav {
	z-index: 10000;
}

.header-content {
	padding: 8px;
	background: #2E3740;
}

.header-content-container {
	border-radius: 1px;
	margin: 13px 0 13px 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

.header-content {
	padding: 8px;
	background: #2E3740;
}

.header-content-title h1 {
	color: white;
	font-size: 24px;
}

.header-content-title small {
	display: block;
	font-size: 12px;
	color: #C4C4C4;
}

@media only screen and (min-width: 768px) {
	.header .icon {
		display: none;
	}

	.header-nav-left {
		display: inline-block;
		font-size: 14px;
	}

	.header-nav-left > ul {
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		background-color: #242F39;
	}
	
	.header-nav-links.toggled {
		left: 0;
		height: auto;
		position: static;
		margin-top: 0px;
	}

	.header-nav-links.toggled li {
		display: inline-block;
	}

}

@media only screen and (min-width: 990px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
